html, body {
  height: 100%;
}

article {
  width: 75%;
}

a {
  text-decoration: none;
  font-size: 0.889em;
  color: #da6869;
}

header {
  background-color: #3c4a5b;
  height: 3.72em;
  border-bottom: .2em solid #51b5af;
}

footer {
  text-align: center;
  width: 100%;
  color: white;
  background-color: #3c4a5b;
}

footer p {
  margin: 0;
}

.help {
  background: url("../Assets/svg/help_icon.svg") no-repeat;
  width: 1.7em;
  height: 1.7em;
  margin: 0 1em;
}

form input {
  font-size: 1em;
}

button, .button {
  height: 1.7em;
  padding: .15em 1em;
  background-color: #14bbb1;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: .889em;
  border: .125em solid #fff;
  border-radius: .3em;
  margin: 1em 0;
  text-decoration: none;
  text-align: center;
}

a.new-post-button  {
  font-family: 'Open Sans', sans-serif;
  font-size: .8em;
  text-decoration: none;
  padding: 0 .5em;
}

.new-post-button {
  height: 1.3em;
  background-color: #14bbb1;
  color: white;
  text-transform: uppercase;
  padding: 0 .1em;
  margin: 0 .1em;
  border: .125em solid #14bbb1;
  border-radius: .3em;
  text-align: center;
}



.flex-button{
  display: flex;
  justify-content: center;
}

.minheight {
 min-height: 5%;
}

.minheight:after {
  content: "";
  display: block;
}

.flex-main {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
}

.flex-filter {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 3em 0 1em 0;
  justify-content: space-between;
  border-bottom: 1px solid #b8babc;
  width: 100%;
}

.flex-header {
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 2.925em;
}

.refactors_logo {
  width: auto;
  height: 4.39em;
}

.nav{
  display: flex;
  align-content: center;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding-right: .5em;
}


.search {
  color: white;
  width: 13em;
  text-decoration: none;
  background: none;
  border-radius: 0;
  border: transparent;
  border-bottom: 2px solid white;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .8em;
}
.search:focus {
  border-bottom: 2px solid #acd34c;
  outline: none;
}

.submit {
width: 1.1em;
height: 1.1em;
margin-bottom: .3em;
vertical-align: bottom;
}

.account {
  padding: 0 1em;
  font-family: 'Source Sans Pro', sans-serif;
}

.login {
  color: #51b5af;
}

.signup {
  color: #da6869;
}

.signout {
  color: #da6869;
}

@media all and (max-width: 60em) {
  .nav {
    display: none;
  }
}

/**/

ul {
  list-style-type: circle;
  margin: 1em;
  font-family: 'Source Sans Pro', sans-serif;
}

ul li {
  text-align: left;
  font-size: .889em;
}

.help-hero article {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.help-hero div {
  width: 36%;
}
