html, body {
  height: 100%;
}

article {
  width: 75%;
}

header {
  background-color: #3c4a5b;
  height: 3.72em;
  border-bottom: .2em solid #51b5af;
}

footer {
  text-align: center;
  width: 100%;
  color: white;
  background-color: #3c4a5b;
}

.button {
  width: auto;
  height: 1.7em;
  padding: 0 1em;
  font-size: 2em;
  background-color: #14bbb1;
  color: white;
  font-family: 'Questrial', serif;
  border: .1em solid #14bbb1;
  border-radius: .2em;
  margin: 1em 0;
}

.flex-button{
  display: flex;
  justify-content: center;
}



.minheight {
 min-height: 30%;
}

.minheight:after {
  content: "";
  display: block;
}

.flex-main {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-content: center;
}

.flex-filter {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 3em 0 1em 0;
  justify-content: space-between;
  border-bottom: 1px solid #b8babc;
  width: 100%;
}

.hero {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
  /*text-align: center;*/
  background-color: #14bbb1;
}

.hero a {
  width: 10em;
  text-align: center;
  text-decoration: none;
}

.flex-header {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: none;
  justify-content: space-between;
}

.logo {
  width: 15em;
  padding: 0em 1em 0em 1em;
}

.nav{
  display: flex;
  align-content: center;
  flex-flow: row wrap;
  flex-align: center;
  justify-content: space-between;
  padding-right: .5em;
}

.nav a {
  text-decoration: none;
  font-size: 1em;
}

.search {
  color: white;
  width: 20em;
  text-decoration: none;
  background: none;
  border-radius: 0;
  border: transparent;
  border-bottom: 2px solid white;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 1em;
}
.search:focus {
  border-bottom: 3px solid #acd34c;
  outline: none;
}

.submit {
width: 1.1em;
height: 1.1em;
padding-bottom: .3em;
vertical-align: bottom;
}

.account {
  padding: 0 2em;
}

.login {
  color: #51b5af;
}

.signup {
  color: #da6869;
}

@media all and (max-width: 54em) {
  .nav {
    display: none;
  }
}
/**/
