/*Hero text animation*/

#herotext {
  color:#fff;
  width:0em;
  height:1.25em;
  border-right: .125em solid #39F;
  display:block;
  overflow:hidden;
  -webkit-animation-name: blink-start, typing, blink-end;
  -webkit-animation-duration: 5s, 1s, 1s;
  -webkit-animation-timing-function: linear, steps(20, end), linear;
  -webkit-animation-delay: 0s, 2s, 2s;
  -webkit-animation-iteration-count: 1, 1, infinite;
  -webkit-animation-direction: normal;
  -webkit-animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-name: blink-start, typing, blink-end;
  animation-duration: 1s, 1s, 1s;
  animation-timing-function: linear, steps(10, end), linear;
  animation-delay: 0s, 1s, 2s;
  animation-iteration-count: 1, 1, infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@-webkit-keyframes typing {
  from { width: 0em; }
  to   { width: 31.2em; }
}

@-webkit-keyframes blink-start {
  from, to { border-color: #333; }
  50% { border-color: transparent; }
}

@-webkit-keyframes blink-end {
  from, to { border-color: #333; }
  50% { border-color: transparent; }
}

/*Hero section*/

.hero {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #14bbb1;
  text-align: center;
  height: 23em;
}

.hero h1 {
  font-size: 5em;
  line-height: .5em;
  margin-top: .3em;
}

.hero h4 {
  margin: 0 0 1em 0;
  margin-top: 1.6em;
}

/*language drop down list*/

.filter {
    overflow: hidden;
    vertical-align: middle;
    text-align: right;
    background: url("images/dropdown_arrow.png") no-repeat #fff 319px 2px;
    /* dropdown_arrow.png is a 31x28 image */
}

.flex-filter h4 {
  vertical-align: bottom;
  margin: 0;
  color: #14bbb1;
}

select {
    border:0;
    background:transparent;
    height: 2em;
    border: .2em solid #14bbb1;
    float: right;
    width:150px;
    -webkit-appearance: none;
    padding-left: .5em ;
    font-family: 'Open Sans', sans-serif;
    font-size: .7em;
    color: #3c4a5b;
}

/*flex for individual post <section>'s*/

.refactorpost {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-first;
  background-color: #3c4a5b;
  margin: .25em 0;

}

.flex-posttitle {
  color: #14bbb1;
  padding: 1em;
}

.flex-posttitle a {
  color: #93d041;
}

.language-tag {
  background-color: #93d041;
  border-radius: .3em;
}

.flex-posttitle .language-tag {
  color: white;
  font-size: .6em;
  text-decoration: none;
  padding: .15em .8em;
}

/*This is the voting module--------------*/

.flex-vote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 6em;
  background-color: #f9f9f9;
  min-width: 4em;
}

.voteup {
  width: 2em;
  height: 1em;
  margin: .1em 0;
  fill: #14bbb1;
}

.voteup:hover {
  fill: #da6869;
}

.votedown {
  background: url("../Assets/svg/down_vote.svg") no-repeat;
  width: 2em;
  height: 1em;
  margin: .1em 0;
  fill: #14bbb1;
}

.votedown:hover {
  fill: #da6869;
}

.votecounter {
  text-align: center;
}


/*This is the code input section--------------*/

.flex-formcontainer {
  margin: 5em 0;
}

.user-posttitle {
  font-size: 2em;
  padding: .5em;
  margin: auto;
}
.user-posttitleinput {
  width: 100%;
  font-size: 2em;
  padding: 0 .2em;
}

.post-filter {
  display: flex;
  justify-content: flex-start;
  padding: 1em 0;
}

.post-filter select {
  background-color: white;
}

.new-form {
  padding: 3em;
  display: flex;
  flex-flow: column nowrap;
  background-color: #f9f9f9;

}

.title-field {
  display: flex;
  flex-flow: row nowrap;
}

.new-post input[type=text], textarea {
-webkit-transition: all 0.30s ease-in-out;
-moz-transition: all 0.30s ease-in-out;
-ms-transition: all 0.30s ease-in-out;
-o-transition: all 0.30s ease-in-out;
outline: none;
padding: 3px 0px 3px 3px;
margin: 5px 1px 3px 0px;
border: 1px solid #DDDDDD;
}

.new-post input[type=text]:focus, textarea:focus {
box-shadow: 0 0 5px rgba(81, 203, 238, 1);
padding: 3px 0px 3px 3px;
margin: 5px 1px 3px 0px;
border: 1px solid rgba(81, 203, 238, 1);
}

.user-postcode {
  height: 15em;
  width: 100%;
  font-size: 2em;
}

.new-form a {
  text-align: right;
}

/*modal*/

.btn:hover {
  background: #357ebd;
}
.btn.btn-big {
  font-size: 18px;
  padding: 15px 20px;
  min-width: 100px;
}
.btn-close {
  color: #aaaaaa;
  font-size: 30px;
  text-decoration: none;
  position: absolute;
  right: 5px;
  top: 0;
}
.btn-close:hover {
  color: #919191;
}
.modal:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.modal:target:before {
  display: block;
}
.modal:target .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 20%;
}
.modal-dialog {
  background: #fefefe;
  border: #333333 solid 1px;
  border-radius: 5px;
  margin-left: -200px;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  width: 360px;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal-body {
  padding: 20px;
}
.modal-header,
.modal-footer {
  padding: 10px 20px;
}
.modal-header {
  border-bottom: #eeeeee solid 1px;
}
.modal-header h2 {
  font-size: 20px;
}
.modal-footer {
  border-top: #eeeeee solid 1px;
  text-align: right;
}
